.admin-view{
  box-sizing: border-box;
  margin: 0% 30% 10% 30%;
  border: 2px solid #373737;
  text-align: center;
  height: 400px;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.admin-name{
  border-bottom: 1px solid #C1DBE3;
  margin: 0% 40% 0% 40%;
  padding-bottom: 5px;
}

.user-nav{
  border-bottom: 1px solid #C1DBE3;
  margin: 10px 15% 0% 15%;
  padding-bottom: 5px;
  font-style: italic;
}

.admin-users{
  list-style: none;
  padding: 0px;
}

.admin-user-list{
  margin-bottom: 10px;
}

.admin-user-link{
  text-decoration: none;
  color: #7AAFC1;
  font-weight: bold;
}

