.login-container{
  box-sizing: border-box;
  margin: 0% 30% 10% 30%;
  border: 2px solid black;
  text-align: center;
  height: 400px;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.login-form{
  margin-top: 25px;
}

.login{
  padding-bottom: 15px;
}

.login-direction{
  padding-right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}